*{

margin: 0;
padding: 0;
}

html, body {
    height: 100%;
  
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #242323;
    flex-direction: column;
}
#container h1 {
    color:aliceblue;
}

header {
    border-bottom: 1px solid rgb(58, 58, 60);
}
.title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0.4rem 0 0.4rem 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}